/keepassphp/data/db
/keepassphp/data/key
/keepassphp/data/kphpdb
sftp-config.json
test.kdbx
test.key
/.idea
/vendor
/demo.php
/src/data
/.phpunit.cache
/.php-cs-fixer.cache
/var
/playground
/storage
/tests/Playground.php